.container {
  position: absolute;
  width: 1356px;
  height: 283px;
  left: 40px;
  top: 118px;
  background: #C4C4C4;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}